.R{
    width: 100%;
}

.roberto{
    background-color: rgb(69, 36, 255);
    opacity: 100%;
    color: rgb(245, 47, 218);
    display: flex;
    list-style-type: none;
    margin: 0px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    
}
.item{
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    padding: 4px;
    border-radius: 17%;
    font-size: 17px;
    text-decoration: none;
}
.item:hover{
    color: rgb(88, 252, 252);
    background-color: rgb(104, 104, 250);
    border: 1px solid rgb(88, 252, 252);
}
.logo{
    height: 63px;
    width: auto;
}
.logo:hover{
    color: rgba(91, 255, 247, 0.781);
    background-color: rgb(104, 104, 250);
}